{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Information</title>
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>
<body>
    <h1>Weather</h1>
    <form action="" method="POST">
        {% csrf_token %}

        <input type="text" name="city" id="city">
        <button type="submit">Get Weather</button>
    </form>


    <div class="weather-container">
        {% if data %}
            <h2>{{ data.city }}</h2>
            <p> {{ data.time }}</p>
            <p><strong>Temperature:</strong> {{ data.temperature }}°C</p>
            <p> {{ data.weather_description }}</p>
            <img src="http://openweathermap.org/img/w/{{ data.icon }}.png" alt="{{ data.description }}">
            <p><strong>Humidity:</strong> {{ data.humidity }}%</p>
            <p><strong>Wind Speed:</strong> {{ data.wind }}km/h</p>
            <p><strong>Min Temperature:</strong> {{ data.min_temp }}°C</p>
            <p><strong>Max Temperature:</strong> {{ data.max_temp }}°C</p>
            
    
        {% endif %}
   </div>

</body>
</html>
